<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Edge Computing Digital Twin Platform</title>

        <!-- Custom fonts for this template-->

        <link
              href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
        {% load static %}
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet"
              type="text/css">
        <!-- Custom styles for this template-->

        <link href="{% static 'css/sb-admin-2.css'%}" rel="stylesheet">
        <!-- JQuery JavaScript-->
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.5.8/js/jsplumb.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>
        <script src="{% static 'js/sb-admin-2.min.js'%}"></script>
        <link href="{% static 'mainpage.css'%}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'jquery-1.11.0.min.js' %}"></script>  
        <script type="text/javascript" src="{% static 'jquery.connectingLine.js' %}"></script> 
        <script type="text/javascript" src="{% static 'anychart-base.min.js' %}"></script> 
        <!--        <script type="text/javascript" src="https://github.com/chartjs/Chart.js/blob/master/docs/scripts/utils.js"></script> -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
        <style type="text/css">
            body
            {
                padding:0px;
                margin:0px;
                background: #FFF;
            }
            #centerprogress{
                position: absolute;
                margin-left: 1250px;
                margin-top: 180px;
            }

            #addDeviceDiv{
                margin-left: 360px;
                margin-top: 200px;
                position: absolute;
                width: 400px;
                border: 1px solid #ccc;
                border-radius: 10%;
                padding: 40px;
                background: #EEF0FF;
                border: 1px solid #37762E;


            }
            #addGatewayDiv{
                margin-left: 360px;
                margin-top: 200px;
                position: absolute;
                width: 400px;
                border: 1px solid #ccc;
                border-radius: 10%;
                padding: 40px;
                background: #EEF0FF;
                border: 1px solid #37762E;
            }
            #diveServerInfo{
                margin-left: 1215px;
                margin-top: 346px;
                position: absolute;
                width: 200px;
                border: 1px solid #ccc;
                border-radius: 10%;
                padding: 10px;
                background: #E9F7EF;
                border: 1px solid #0E6655;
            }
            #sidebar{
                margin-left: 30px;
                margin-top: 230px;
                position: absolute;
                width: 300px;
                border: 1px solid #ccc;
                border-radius: 10%;
                padding: 40px;
                background: #FBE5E5;
                border: 1px solid #B20303;

            }
            .view_device_span{
                color: green;
                font-weight: bold;
            }
            .btn-outline-danger{
                width: 200px;
            }
            .gradientText{
                font-size: 15px; 
                font-weight: bold; 
                background: -webkit-linear-gradient(left, #a445b2, #fa4299);
                -webkit-background-clip: text; 
                -webkit-text-fill-color: transparent;
            }
            #registeredDevicesInfo .card-body span{
                font-size: 12px;
                color: #111192;
                background: -webkit-linear-gradient(left, #a445b2, #fa4299);
                -webkit-background-clip: text; 

            }
        </style>
    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Digital Twin Platform</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" href="/index">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Environment</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Registration
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                       aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Edge Platform</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Registering:</h6>
                            <a class="collapse-item" href="/registergatewaynode">Edge Gateway</a>
                            <a class="collapse-item" href="/ClientPerfromance">Model Management</a>
                            <a class="collapse-item" href="/deviceconnection">Preparing Platform</a>
                        </div>
                    </div>
                </li>
                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" href="/registerservice">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Service</span></a>
                </li>
                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" href="/registercontroller">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Controller</span></a>
                </li>
                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>Tasks</span>
                    </a>
                    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Custom Tasks:</h6>
                            <a class="collapse-item" href="/addwork">Genral Task</a>
                            <a class="collapse-item" href="/addservicework">Extended Task</a>
                            <a class="collapse-item" href="/addtest">Generate TEST</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Actions
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                       aria-expanded="true" aria-controls="collapsePages">
                        <i class="fas fa-fw fa-fire"></i>
                        <span>Operating Tasks</span>
                    </a>
                    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Task Lists:</h6>
                            <a class="collapse-item" href="/operateworks">General Task Operating</a>
                            <a class="collapse-item" href="/operateserviceworks">Extended Task Operting</a>
                            <a class="collapse-item" href="/operatetest">Operate TEST</a>
                        </div>
                    </div>
                </li>
                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" href="/operatefl">
                        <i class="fas fa-fw fa-handshake-o"></i>
                        <span>SLearning</span></a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

                <!-- Sidebar Message -->
                <div class="sidebar-card d-none d-lg-flex">
                    <img class="sidebar-card-illustration mb-2" src="static/img/pic00.jpg"
                         alt="...">
                    <p class="text-center mb-2"><strong>Digital Twin Platform</strong> provides esaest way to manage and
                        monitor your controlled edge device environment </p>
                </div>
            </ul>

            <div >
                {% csrf_token %}

                <div class = 'row' style="width: 1500px; margin-left: 20px; ">
                    <div class="col-3">
                        <div class="card" style = ' width: 300px; height : 100%;'>
                            <div class="card-body">
                                <b style = 'color: #812'>Add New Device</b>
                                <div>
                                    <label for="txtDeviceIP">IP Address</label>
                                    <input type="text" class="form-control" id="txtDeviceIP" aria-describedby="emailHelp" placeholder="192.168.0.1">
                                    <small id="emailHelp" class="form-text text-muted">The Node with the enterted IP address should be in the same network</small>
                                    <label for="txtDevicePort">Port</label>
                                    <input type="text" class="form-control" id="txtDevicePort" aria-describedby="emailHelp" placeholder="1234">
                                    <br>
                                    <center><button class = 'btn btn-warning' id = 'btnaddDevice' style = 'width: 100%'>Add Device</button>  </center><br>
                                    <div style = 'width: 100%; height: 2px; background: #9B1212;' ></div> <br>



                                    <b style = 'color: #812'>Other Configurations</b>
                                    <label for="txtDeviceIP">Server IP Address</label>

                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="txtserver_ip" aria-describedby="emailHelp" placeholder="192.168.0.1">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-warning btnconf" type="button" value="server_ip">Update</button>
                                        </div>
                                    </div>


                                    <label for="txtDeviceIP">Server Port</label>                       
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="txtServerPort" aria-describedby="emailHelp" placeholder="Dynamic server ports" disabled>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-warning btnconf" type="button">Update</button>
                                        </div>
                                    </div>


                                    <label for="txtDeviceIP">Server Rounds</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="txtserver_rounds" aria-describedby="emailHelp" placeholder="100">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-warning btnconf" type="button" value = 'server_rounds'>Update</button>
                                        </div>
                                    </div>


                                    <label for="txtDeviceIP">Client Epochs</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="txtlocal_epochs" aria-describedby="emailHelp" placeholder="100">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-warning btnconf" type="button" value="local_epochs">Update</button>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <select class="form-control" id="txtdata">
                                            <option value= ''>Select Dataset</option>
                                            <option value = 'Thermal'>Thermal Data</option>
                                            <option value = 'Energy'>Energy Data</option>
                                            <option value = 'Churn'>Churn Data</option>
                                             <option value = 'Seoul'>Seoul Data</option>
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-warning btnconf" type="button" value="data">Update</button>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <select class="form-control" id="txtmodel">
                                            <option value= ''>Select Model</option>
                                            <option value = 'DNN'>DNN</option>
                                            <option value = 'LSTM'>LSTM</option>
                                            <option calue = 'LSTM-CNN'>LSTM-CNN</option>
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-warning btnconf"  type="button" value="model">Update</button>
                                        </div>
                                    </div>
                                    <br>
                                    <center><button class = 'btn btn-warning' id = 'btnupdateConf' style = 'width: 100%'>Upddate All Configurations</button>  </center><br>
                                    <div style = 'width: 100%; height: 2px; background: #9B1212;' ></div> <br>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-3">
                        <div>
                            <div style = 'width: 100%; height: 2px; background: #9B1212;' ></div> <br>
                            <center><button class = 'btn btn-success' id = 'btnupdateConf' style = 'width: 100%'>Start Server</button>  </center><br>
                            <div style = 'width: 100%; height: 2px; background: #9B1212;' ></div> 
                        </div>
                        <div id = 'registeredDevices' style="margin-top: 30px; margin: 20px;">
                        </div>

                    </div>

                    <div id = 'showResults' class="col-6" style="border: 1px solid black">

                    </div>
                </div>



                <!--
<div id = 'registeredDevicesInfo'>

</div>
-->


            </div>
        </div>
        {% comment %} <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Edge Computing Digital Twin Platform Website 2021</span>
            </div>
        </div>
        </footer> {% endcomment %}



        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>


        <script type='text/javascript'>
            var csrf = $('input[name =csrfmiddlewaretoken]').val();
            function sleep(time) {
                return new Promise(resolve => setTimeout(resolve, time));
            }
            $('.btnconf').click(function(){
                c = $(this).val()
                val = $('#txt'+c).val()

                $.ajax({
                    data: {
                        col: c,
                        value: val,
                        csrfmiddlewaretoken : csrf
                    },
                    type: 'POST',
                    url: '/updateConfigurations'
                }).done(function(data){
                    if(data.status == 1){
                        alert('Configuration Updated')
                        $('#txt'+c).val('')

                    }else{
                        alert('Failed to update Configuration')

                    }
                });


            });

            function update_devices(){
                $('#registeredDevices').append("<span>Updating Device Status </span> <br> <span class = 'gradientText'>Please Wait</span>")
                $.ajax({
                    data: {
                        csrfmiddlewaretoken : csrf,
                        request_type: '1'
                    },
                    type: 'POST',
                    url: '/get_device_status'
                }).done(function(data){
                    var device_info
                    $('#registeredDevices').empty()
                    $.each(data.devices , async function(i,val){
                        var status = 'Offline'
                        c = 'warning'
                        if(val[3] == 1){
                            status = 'Active'
                            c = 'success'
                            var url = "http://"+val[1]+":"+val[2]+"/getInfo"
                            console.log(url);
                            $.ajax({
                                url: url,
                                type: 'GET',
                                dataType: 'json', // added data type
                                success: function(res) {
                                    device_info =  `<div class = 'card' style = 'padding: 6px;'>
<center><b style="color: #A90D0D">Device Info</b>
<div style="font-size: 15px;">
<img style= 'width:50px; height:40px;' class="card-img-top" src="{%static 'image.jpg'%}" alt="Card image cap" ><br>
<b>Name:</b> Raspberry Pi Model B 4GB RAM <br>
            </center>
<div style = 'width: 100%; height: 2px; background: #9B1212; margin-top: 3px; margin-bottom: 3px;' ></div>
<center><b style="color: #A90D0D">Data Info</b>
<div style="font-size: 15px;">
<b>Samples:</b> `+res['rows']+` <br>
<b>Features:</b> `+res['cols']+`</div></center>

            </div>`

                                    //                                            `<i><span style = 'color: #A90D0D;'> Data Shape: (`+res['rows']+` , `+res['cols']+`) `+res['problem'] +`</span></i>`



                                    var device =  `<div class = 'card' style = 'padding: 4px; border: 1px solid #03B40B;'>
<button class="btn btn-dark"  id = "btnDeviceInfo`+ val[0] +`"> 
<input  id = 'txtdeviceID' type = 'hidden' value = `+val[0]+`>
<span  class="badge badge-light">`+val[1]+`</span> 
<span class="badge badge-light">`+val[2]+`</span>
{% comment %} <span class="badge badge-`+c+`">`+status+`</span> {% endcomment %}
<span class="badge badge-success">`+status+`</span>
            </button>
`+device_info+`<button class="btn btn-warning" id = btnActivate`+val[0]+`  style="width: 270px; height: 40px; margin:5px">Activate Node</button>
<button class="btn btn-outline-success" id = btnResult`+val[0]+`  style="width: 270px; height: 40px; margin:5px">Get Results</button>
            </div> <br>` 
                                    $('#registeredDevices').append(device)
                                    
                                    $('#btnActivate'+val[0]).click(function(){
                                        $(this).removeClass('btn-warning')
                                        $(this).addClass('btn-danger')
                                        $(this).attr('disabled', 'disabled')
                                        $(this).text('Activated')
                                        var url = "http://"+val[1]+":"+val[2]+"/startClient"
                                                 
                                        //Activate clients
                                        $.ajax({
                                            url: url,
                                            type: 'GET',
                                            dataType: 'json', // added data type
                                            success: function(res) {
                                                console.log(res)
                                            }
                                        });
                                    });
                                    
                                    
                                    $('#registeredDevicesInfo').append(device_info)
                                    //Add canvas for each device
                                    $('#showResults').append(` <canvas id="contextResult`+val[0]+`" width="300" height="130" "></canvas>`)
                                    
                                    //Add click event for each device to show results
                                    $('#btnResult'+val[0]).click( async function(){ //
                                        
                                        
                                        //$("$contextResult"+val[0]).text("Please Wait")
                                        await sleep(120)
                                        //
                                        $.ajax({
                                            data: {
                                                nodeID: 'node'+val[0],
                                                csrfmiddlewaretoken : csrf
                                            },
                                            type: 'POST',
                                            url: '/get_client_performance'
                                        }).done(function(data){
                                            performance = JSON.parse(data['data'])
                                            datasets = prepare_datasets_simple(performance)
                                            new Chart("contextResult"+val[0], {
                                                type: "line",
                                                data: datasets,
                                                options: {
                                                    legend: {display: true}
                                                },  options: {
                                                    legend: {display: false}
                                                }
                                            });
                                            //                                            $('#showResults').append(` <canvas id="contextResult" width="300" height="150" style="border:1px solid #d3d3d3;"></canvas>`)
                                            //                                            var ctx = $("#contextResult")[0].getContext('2d');
                                            //                                            const myChart = new Chart(ctx, config)
                                        });

                                        api_val = 'getResult' //$('#select'+res['Port']).val()
                                        //alert(api_val)
                                        api_val = 'get'+api_val
                                        console.log(api_val)
                                        var url = "http://"+val[1]+":"+val[2]+"/"+api_val
                                        console.log(url);
                                    });
                                }
                            });
                        }
                        else{
                            var device =  `<div class = 'card' style = 'padding: 4px;'>
<button class="btn btn-dark"  id = "btnDeviceInfo`+ val[0] +`"> 
<input  id = 'txtdeviceID' type = 'hidden' value = `+val[0]+`>
<span  class="badge badge-light">`+val[1]+`</span> 
<span class="badge badge-light">`+val[2]+`</span>
{% comment %} <span class="badge badge-`+c+`">`+status+`</span> {% endcomment %}
<span class="badge badge-danger">`+status+`</span>
            </button>
            </div> ` 
                            $('#registeredDevices').append(device)

                        }

                        $('#btnResult'+val[2]).click(function(){
                            $('#showResults').empty()
                            var url = "http://"+val[1]+":"+val[2]+"/getresult"
                            console.log(url);
                            $.ajax({
                                url: url,
                                type: 'GET',
                                dataType: 'json', // added data type
                                success: function(res) {

                                    data = []
                                    for(let i = 0; i< res['actual'].length; i++){
                                        data.push([i,res['actual'][i],res['predicted'][i]]) //

                                    }
                                    var dataSet = anychart.data.set(data);
                                    var seriesData_actual = dataSet.mapAs({ x: 0, value: 1 });
                                    var seriesData_predicted = dataSet.mapAs({ x: 0, value: 2 });
                                    var chart = anychart.line();
                                    chart.title('Actual and Predicted energy consumption prediction uisng DNN');
                                    chart.yAxis().title('Energy (kwh)');
                                    var lineChart_a = chart.line(seriesData_actual);
                                    lineChart_a.name('Actual')
                                    lineChart_a.stroke('3 #f49595')
                                    var lineChart_p = chart.line(seriesData_predicted);
                                    lineChart_p.name('Predicted')
                                    lineChart_a.stroke('3 #a32')
                                    chart.container('showResults');
                                    chart.draw();
                                    chart.animation(true);

                                    var device_info = ''
                                    $('#registeredDevicesInfo').append(device_info)
                                }
                            });
                            {% comment %} alert($(this).find("#txtdeviceID").val()) {% endcomment %}
                                                                                    });

                            });
                        });
                    }

                           update_devices()



                    $('#btnaddDevice').click(function(){
                        var ipTester = 
                            /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/;
                        if(!$('#txtDeviceIP').val() ){
                            alert('Please Enter IP Address')
                            return
                        }
                        if (!ipTester.test($('#txtDeviceIP').val())){
                            alert('IP Address is not valid')
                            return
                        }
                        if(!$('#txtDevicePort').val() ){
                            alert('Please Enter Port')
                            return
                        }
                        var csrf = $('input[name =csrfmiddlewaretoken]').val();
                        $.ajax({
                            data: {
                                ip_address: $('#txtDeviceIP').val(),
                                port: $('#txtDevicePort').val(),
                                csrfmiddlewaretoken : csrf
                            },
                            type: 'POST',
                            url: '/addDevice'
                        }).done(function(data){
                            if(data.status == 1){
                                alert('Device added Successfully')
                                $('#txtDeviceIP').val(''),
                                    $('#txtDevicePort').val(''),
                                    update_devices()
                            }else{
                                alert('Failed to add device')
                            }
                        });
                    });

                    function prepare_datasets(performance){
                        datasets = []
                        metrics = Object.keys(performance)
                        console.log(metrics)
                        for(let i = 1; i< metrics.length; i++){
                            d = Object.keys(performance[metrics[i]]).map((key) => [Number(key), performance[metrics[i]][key]]);
                            data = []
                            d.forEach(function(pair){
                                data.push({x: pair[0], y: pair[1]});
                            }); 
                            dataset = {
                                borderColor: '#00FF00',
                                borderWidth: 1,
                                radius: 0,
                                data: data,
                            }
                            datasets.push(dataset)
                        }
                        return datasets
                    }

                    function prepare_datasets_simple(performance){
                        colors = ['#0C9012','#1F42D2', '#AF0CD0','#CB8E15','#BF0519','#05BFA0','#723379']
                        datasets = []
                        metrics = Object.keys(performance)
                        x_axis = Object.keys(performance['Unnamed: 0']).map((key) => performance['Unnamed: 0'][key]);
                        //console.log(temp)
                        for(let i = 1; i< metrics.length; i++){
                            y_axis = Object.keys(performance[metrics[i]]).map((key) => performance[metrics[i]][key]);
                            datasets.push({
                                label: metrics[i],
                                data:y_axis,
                                borderColor: colors[i],
                                fill: false
                            }) 
                        }
                        data = {
                            labels: x_axis,
                            datasets : datasets,
                        }
                        return data
                    }
        </script>
    </body>

</html>