<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Edge Computing Digital Twin Platform</title>

        <!-- Custom fonts for this template-->

        <link
              href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
        {% load static %}
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet"
              type="text/css">
        <!-- Custom styles for this template-->

        <link href="{% static 'css/sb-admin-2.css'%}" rel="stylesheet">
        <!-- JQuery JavaScript-->
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.5.8/js/jsplumb.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>
        <script src="{% static 'js/sb-admin-2.min.js'%}"></script>
        <link href="{% static 'mainpage.css'%}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'jquery-1.11.0.min.js' %}"></script>  
        <script type="text/javascript" src="{% static 'jquery.connectingLine.js' %}"></script>
        <script type="text/javascript" src="{% static 'leader-line.min.js' %}"></script>
        <style type="text/css">
            body
            {
                padding:0px;
                margin:0px;
                background: #FFF;
            }
            #centerprogress{
                position: absolute;
                margin-left: 1250px;
                margin-top: 180px;
            }

            #addDeviceDiv{
                margin-left: 360px;
                margin-top: 200px;
                position: absolute;
                width: 400px;
                border: 1px solid #ccc;
                border-radius: 10%;
                padding: 40px;
                background: #EEF0FF;
                border: 1px solid #37762E;


            }
            #addGatewayDiv{
                margin-left: 360px;
                margin-top: 200px;
                position: absolute;
                width: 400px;
                border: 1px solid #ccc;
                border-radius: 10%;
                padding: 40px;
                background: #EEF0FF;
                border: 1px solid #37762E;
            }
            #diveServerInfo{
                margin-left: 1215px;
                margin-top: 346px;
                position: absolute;
                width: 200px;
                border: 1px solid #ccc;
                border-radius: 10%;
                padding: 10px;
                background: #E9F7EF;
                border: 1px solid #0E6655;
            }
            #sidebar{
                margin-left: 30px;
                margin-top: 230px;
                position: absolute;
                width: 300px;
                border: 1px solid #ccc;
                border-radius: 10%;
                padding: 40px;
                background: #FBE5E5;
                border: 1px solid #B20303;

            }
            .view_device_span{
                color: green;
                font-weight: bold;
            }
            .btn-outline-danger{
                width: 200px;
            }
            .gradientText{
                font-size: 15px; 
                font-weight: bold; 
                background: -webkit-linear-gradient(left, #a445b2, #fa4299);
                -webkit-background-clip: text; 
                -webkit-text-fill-color: transparent;
            }
            #registeredDevicesInfo .card-body span{
                font-size: 12px;
                color: #111192;
                background: -webkit-linear-gradient(left, #a445b2, #fa4299);
                -webkit-background-clip: text; 

            }
        </style>
    </head>

    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Digital Twin Platform</div>
                </a>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" href="/index">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Environment</span></a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider">
                <!-- Heading -->
                <div class="sidebar-heading">
                    Registration
                </div>
                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                       aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Edge Platform</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Registering:</h6>
                            <a class="collapse-item" href="/registergatewaynode">Edge Gateway</a>
                            <a class="collapse-item" href="/ClientPerfromance">Model Management</a>
                            <a class="collapse-item" href="/deviceconnection">Preparing Platform</a>
                        </div>
                    </div>
                </li>
                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" href="/registerservice">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Service</span></a>
                </li>
                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" href="/registercontroller">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Controller</span></a>
                </li>
                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>Tasks</span>
                    </a>
                    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Custom Tasks:</h6>
                            <a class="collapse-item" href="/addwork">Genral Task</a>
                            <a class="collapse-item" href="/addservicework">Extended Task</a>
                            <a class="collapse-item" href="/addtest">Generate TEST</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Actions
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                       aria-expanded="true" aria-controls="collapsePages">
                        <i class="fas fa-fw fa-fire"></i>
                        <span>Operating Tasks</span>
                    </a>
                    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Task Lists:</h6>
                            <a class="collapse-item" href="/operateworks">General Task Operating</a>
                            <a class="collapse-item" href="/operateserviceworks">Extended Task Operting</a>
                            <a class="collapse-item" href="/operatetest">Operate TEST</a>
                        </div>
                    </div>
                </li>
                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" href="/operatefl">
                        <i class="fas fa-fw fa-handshake-o"></i>
                        <span>SLearning</span></a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

                <!-- Sidebar Message -->
                <div class="sidebar-card d-none d-lg-flex">
                    <img class="sidebar-card-illustration mb-2" src="static/img/pic00.jpg"
                         alt="...">
                    <p class="text-center mb-2"><strong>Digital Twin Platform</strong> provides esaest way to manage and
                        monitor your controlled edge device environment </p>
                </div>
            </ul>
            <div class="row">
                <div class="col-6">
                    <div id="content-wrapper" class="d-flex flex-column">
                        {% csrf_token %}
                        <div class="card" style= 'margin: 10px;'>
                            <div class="card-body">
                                <b style = 'color: #812'>Connect Task with IoT Device</b>
                                <form class="form-inline" id="content-wrapper" style="background-color: #fff;">
                                    <div class="form-group">

                                        <select class="form-control form-control-sm " id = "selectTask" style="width: 200px;">
                                            <option value = '0'>Select Task</option>
                                        </select>
                                    </div>
                                    <div style="margin-left: 10px;" class="form-group">

                                        <select class="form-control form-control-sm" id = "selectIoTDevices1" style="width: 200px; margin-left: 20px;">
                                            <option value = '0'>Select IoT Device</option>
                                        </select>
                                    </div>
                                    <br>
                                    <center><button class = 'btn btn-warning' id = 'btnaddDevice' style = 'width: 160px; margin-left: 10px;' >Update Status</button>  </center><br>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card" style= 'margin: 10px;'>
                        <div class="card-body">
                            <b style = 'color: #812'>Connect IoT Device with Gateways</b>
                            <form class="form-inline" id="content-wrapper" style="background-color: #fff;">

                                <select class="form-control form-control-sm" id = "selectIoTDevices2" style="width: 200px;">
                                    <option value = '0'>Select IoT Device</option>
                                </select>                            
                                <select class="form-control form-control-sm" id = "selectGateway" style="width: 200px; margin-left: 20px;">
                                    <option value = '0'> Select Gateway</option>
                                </select>
                                <br>
                                <center><button class = 'btn btn-warning' id = 'btnConnectDevicetoGateway' style = 'width: 160px; margin-left: 10px;'>Update Status</button>  </center><br>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="card">
                        <div class="card-body" id="colTasks">
                            <b style = 'color: #812'>Tasks</b> <span class="badge badge-warning">Please Wait</span>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-2" id="colDevices">
                    <div class="card">
                        <div class="card-body">
                            <b style = 'color: #812'>Devices</b> <span id = 'spanDeviceWait' class="badge badge-warning">Please Wait</span>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-2" id="colGateways">
                    <div class="card">
                        <div class="card-body">
                            <b style = 'color: #812'>Gateways</b> <span id="spanGatewayWait" class="badge badge-warning">Please Wait</span>

                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-2" id="colServer">
                    <div class="card" id = 'cardServer'>
                        <div class="card-body">
                            <center><b style = 'color: #812'>Federated Server</b> <br></center>
                            <img id= 'raspImg3' src= "{%static 'server.svg'%}" style='height: 170px; width: 140px;' /><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Edge Computing Digital Twin Platform Website 2021</span>
                </div>
            </div>
        </footer>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <script type="text/javascript">
            var csrf = $('input[name =csrfmiddlewaretoken]').val();
            var device_gateway_connection = []
            var available_tasks = []
            function update_devices(){
                $.ajax({
                    data: {
                        csrfmiddlewaretoken : csrf,
                        request_type: '0'
                    },
                    type: 'POST',
                    url: '/get_device_status'
                }).done(function(data){
                    var device = ''
                    $('#spanDeviceWait').hide()
                    $.each(data.devices , function(i,val){
                        device_gateway_connection.push([val[0],val[4]])
                        var url = "http://"+val[1]+":"+val[2]+"/getInfo"
                        $.ajax({
                            url: url,
                            type: 'GET',
                            dataType: 'json',
                            success: function(res){

                            }

                        });

                        device_info =  `<div class = 'card' style = 'padding: 6px;'>
<center><b style="color: #A90D0D">Device Info</b>
<div style="font-size: 15px;">
<img style= 'width:50px; height:40px;' class="card-img-top" src="{%static 'image.jpg'%}" alt="Card image cap" ><br>
<b>Name:</b> Raspberry Pi Model B 4GB RAM <br>
            </center>
<div style = 'width: 100%; height: 2px; background: #9B1212; margin-top: 3px; margin-bottom: 3px;' ></div>
<center><b style="color: #A90D0D">Data Info</b>
<div style="font-size: 15px;">
<b>Samples:</b> 5000 <br>
<b>Features:</b> 6</div></center>

            </div>`
                        device =  `<div class = 'card' style = 'padding: 4px;'>
<button class="btn btn-dark"  id = "d`+ val[0] +`"> 
<input  id = 'txtdeviceID' type = 'hidden' value = `+val[0]+`>
<span  class="badge badge-light">`+val[1]+`</span> 
<span class="badge badge-light">`+val[2]+`</span>
<span class="badge badge-">`+status+`</span>
            </button>
<div class = 'card' style = 'padding: 6px;'>
<center><b style="color: #A90D0D">Device Info</b>
<div style="font-size: 15px;">
<img style= 'width:50px; height:40px;' class="card-img-top" src="{%static 'image.jpg'%}" alt="Card image cap" ><br>
<b>Name:</b> Raspberry Pi Model B 4GB RAM <br>
            </center>
<div style = 'width: 100%; height: 2px; background: #9B1212; margin-top: 3px; margin-bottom: 3px;' ></div>
<center><b style="color: #A90D0D">Data Info</b>
<div style="font-size: 15px;">
<b>Samples:</b> 5000 <br>
<b>Features:</b> 6</div></center>
            </div>
            </div>` 
                        option_for_dropdown = `<option value = `+val[0]+`> `+val[1]+`:`+val[2]+`  </option>`
                        $('#colDevices').append(device)
                        $('#selectIoTDevices1').append(option_for_dropdown)
                        $('#selectIoTDevices2').append(option_for_dropdown)
                    })
                    make_connections()
                });
                $.ajax({
                    data: {
                        csrfmiddlewaretoken : csrf,
                        request_type: '0'
                    },
                    type: 'POST',
                    url: '/get_gateways_status'
                }).done(function(data){
                    $('#spanGatewayWait').hide()
                    $.each(data.devices , function(i,val){
                        device =  `<div class = 'card' style = 'padding: 4px;'>
<button class="btn btn-danger"  id = "g`+ val[0] +`"> 
<input  id = 'txtdeviceID' type = 'hidden' value = `+val[0]+`>
<span  class="badge badge-light">`+val[1]+`</span> 
<span class="badge badge-light">`+val[2]+`</span>
<span class="badge badge-">`+status+`</span>
            </button>

<div class = 'card' style = 'padding: 6px;'>
<center><b style="color: #A90D0D">Device Info</b>
<div style="font-size: 15px;">
<img style= 'width:50px; height:40px;' class="card-img-top" src="{%static 'image.jpg'%}" alt="Card image cap" ><br>
<b>Name:</b> Raspberry Pi Model B 4GB RAM <br>
            </center>
<div style = 'width: 100%; height: 2px; background: #9B1212; margin-top: 3px; margin-bottom: 3px;' ></div>
<center><b style="color: #A90D0D">Connected Devices</b>
<div style="font-size: 15px;">


            </div>
            </div>` 
                        option_for_dropdown = `<option value = `+val[0]+`> `+val[1]+`:`+val[2]+`  </option>`
                        $('#colGateways').append(device) 
                        $('#selectGateway').append(option_for_dropdown)
                    })
                    make_connections()
                });
            }
            function make_connections(){
                $.each(device_gateway_connection, function(i,val){
                    var s = document.getElementById("d"+val[0]+"")
                    var e = document.getElementById("g"+val[1]+"")
                    new LeaderLine(s,e,{dash: {animation: true}});
                })
                $.each(device_gateway_connection, function(i,val){
                    var s = document.getElementById("g"+val[1]+"")
                    var e = document.getElementById("cardServer")
                    new LeaderLine(s,e,{dash: {animation: true}});
                })
            }
            update_devices();
            $('#btnConnectDevicetoGateway').click(function(){
                var device_id = $('#selectIoTDevices2').val()
                var gateway_id = $('#selectGateway').val()
                if(device_id ==0){
                    alert("Please select IoT Device")
                    return 
                }
                if(gateway_id ==0){
                    alert("Please select Gateway")
                    return 
                }
                $.ajax({
                    data: {
                        csrfmiddlewaretoken : csrf,
                        device_id : device_id,
                        gateway_id : gateway_id
                    },
                    type: 'POST',
                    url: '/updateDeviceConnection'
                }).done(function(data){
                })
            });
        </script>
    </body>
</html>